.hautDePage{
    display: flex;
}

.hautDePage .afficheHaute {
    width: 100em;
}

.hautDePage .afficheHaute img {
    width: 100%;
}

.hautDePage .menuHaut {
    text-align: center;
    background-color:rgb(227, 22, 22);
}

.hautDePage .menuHaut h1 {
    color: rgb(223, 223, 223);
    font-size: xx-large;
    margin: auto;
    margin-top: 5em;
}

.hautDePage .menuHaut p {
    color: rgb(26, 26, 26);
    font-size: x-large;
    margin-top: 1em;
}

.hautDePage .menuHaut button {
    background-color: rgb(63, 63, 224);
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-top: 2em;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    z-index: +1;
    align-items: center;
}

header img {
    margin-top: auto;
    width: 12em;
}

header h1 {
    color: rgb(227, 22, 22);
}

header button {
    color: rgb(63, 63, 224);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

main {
    background-color: rgb(215, 215, 215);
}

main .promotion {
    display: flex;
    border: solid;
    border-color: rgb(227, 22, 22);
}

main .promotion .videoPromotion {
    width: 75em;
}

main .promotion .videoPromotion iframe{
    width: 100%;
}

main .promotion .explicationVideo {
    margin: auto;
    text-align: center;
}

main .promotion .explicationVideo p {
    color: rgb(227, 22, 22);
    font-size: larger;
}

main .interBlock {
    border: solid;
    border-radius: 1px;
    border-color: rgb(255, 255, 255);
}

main .presentation {
    display: flex;
    border: solid;
    border-color: rgb(63, 63, 224);
}

main .presentation .regleDuJeux .row .col-4 {
    overflow: auto;
    width: 12em;
    height: 40em;
    text-align: center;
    color: rgb(63, 63, 224);
}

main .presentation .regleDuJeux .row .col-4 a {
    color: rgb(63, 63, 224);
    margin: auto;
}

main .presentation .regleDuJeux .row .col-8 {
    overflow: auto;
    width: 48em;
    height: 40em;
}

main .presentation .regleDuJeux .row .col-8 h4 {
    color :rgb(63, 63, 224);
}

main .presentation .showCase .boite3D {
    width: 40em;
    align-items: center;
}

main .presentation .showCase .boite3D iframe {
    width: 100%;
    margin: auto;
}

main .presentation .showCase .elements {
    width: 40em;
    z-index: -1;
}

main .presentation .showCase .elements .carousel .carousel-inner img{
    width: 40em;
    height: 50em;
    z-index: -1;
}

main .gameplay {
    display: flex;
    width: 100em;
    margin: auto;
    border: solid;
}

main .gameplay p {
    font-size: xx-large;
}

main .gameplay iframe {
    width: 100%;
}

main .donation {
    display: flex;
    width: 100em;
    align-items: center;
    justify-content: center;
    margin: auto;
}

main .donation .payer {
    width: 100%;
    height: 10em;
}
main .donation .payer button{
    width: 100%;
    height: 10em;
    font-size: larger;
}

footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    margin-top: auto;
    width: 12em;
}

footer h1 {
    color: rgb(227, 22, 22);
}

footer p {
    text-align: center;
    margin-right: 1em;
    color: rgb(63, 63, 224);
}
